.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.todoList {
    border: 2px solid teal;
    background-color: darkseagreen;
    border-radius: 5px;
    padding: 20px;
}
.task {
    font-weight: bold;
}
.task-done{
    font-weight: normal;
    text-decoration: line-through;
}
.btn-active{
    background-color: cornflowerblue;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 3px;

}
.input-error {
    outline: none;
    border: 2px solid red;
}
